/* text-color = rgba(5, 5, 5, 0.85) */
body {
  /*background: #fef9f5;*/ /* Guardian editorial */
  /*background: #fbfbfd;*/ /* Politico */
  /*background: #f5f5f7;*/
  background: #f4f4f6;
  /*background: #f3f3f5;*/
  /*background: #f2f2f4;*/
  /*background: #fff;*/ /* yellow highlight */
  color: rgba(0, 0, 0, 0.93);
  font-family: 'Linux Libertine', serif;
  font-feature-settings: 'kern', 'liga', 'clig', 'onum' 1;
  margin: 0;
  cursor: default;
}

#column {
  position: relative; /* Only needed if highlight contained here */
  max-width: 484px;
  margin: 11px auto;
  /*background-image: linear-gradient(#eee 1px, transparent 1px);
  background-size: 100% 11px;
  box-shadow: 1px 0 #eee, -1px 0 #eee;*/
}

.sentence {
  position: relative;
  font-size: 29px;
  line-height: 44px;
  padding: 5.5px 0;
}

.text-seg {
  padding: 5.5px 0;
}

.note {
  font-size: 22px;
  line-height: 33px;
  margin: 27.5px 22px;
}

.note span {
  /*background: hsla(43, 100%, 50%, 0.1);*/
  padding: 4px 0;
}

::-moz-selection {
  background: rgba(50, 50, 50, 0.08);
}

::selection {
  background: rgba(50, 50, 50, 0.08);
}

.highlight-box {
  position: absolute;
  /*background: rgba(255, 226, 153, 0.3);*/
  /*background: rgba(255, 232, 173, 0.35);*/
  /*background: rgba(255, 237, 191, 0.5);*/
  /*background: rgba(255, 228, 173, 0.35);  hue 40 */
  /*margin: 5.5px 0;*/
  height: 44px; /* 44px or 33px */
  /*padding-bottom: 12.8px;*/
  background: #fff; /* white highlight */
  /*background: #ffecb9;*/ /* yellow highlight */
  /*opacity: 0.3;*/ /* yellow highlight */
}

#highlight-pane {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2; /* white highlight */
  /*z-index: -1;*/ /* yellow highlight */
}

.highlight {
  display: inline-block;
  position: absolute;
  background: hsla(250, 100%, 50%, 0.055);
  height: 33px;
  z-index: -1;
  margin: 5.5px 0;
  top: 0;
}

.highlight-group {
  position: absolute;
  top: 0;
  left: 0;
}

#highlight0 {
  top: 44px;
  left: -51px;
  width: 196px;
}

#highlight1 {
  top: 44px;
  left: -51px;
  width: 83px;
}

#highlight2 {
  top: 88px;
  left: -32px;
  width: 104px;
}

#highlight3 {
  top: 44px;
  left: -27px;
  width: 120px;
}

#highlight4 {
  top: 0px;
  left: 235px;
  width: 95px;
}

#highlight5 {
  top: 44px;
  left: 212px;
  width: 84px;
}

.hide {
  display: none;
}
